{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static  "css/bootstrap.min.css" %}">

    <!-- My CSS-->
    <link rel="stylesheet" type="text/css" href="{% static  "css/header.css" %}">

    <title>AskPumpkin</title>
</head>

<body>

<!-- Header -->
{% block navbar %}{% endblock %}
<p>

<!--Main-->
<div class="container-fluid col-md-12">
    <div class="row">
        {# Main content #}
        <div class="col-md-9">
            {% block content %}{% endblock %}
        </div>

        {# Other information #}
        <div class="align-right col-md-3">
            {% block additional_info %}{% endblock %}
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static  "js/jquery-3.3.1.slim.min.js" %}"></script>
<script src="{% static  "js/popper.min.js" %}"></script>
<script src="{% static  "js/bootstrap.min.js" %}"></script>


</body>
</html>