{% extends "base.html" %}

{% block navbar %}
    {% include "inc/navbar_auth.html" %}
{% endblock %}

{% block content %}
    {% include "inc/question.html" %}
    <p><p>

    {% for answer in answers %}
        {% include "inc/answer.html" %}
    {% endfor %}

    <p>
    {% include "inc/pagination.html" %}

    <p><p>
    {% include "inc/answer_form.html" %}
{% endblock %}

{% block additional_info %}
    {% include "inc/best_members.html" %}
    <p>
    {% include "inc/popular_tags.html" %}
{% endblock %}