<!--Answer form-->
<form>
    <div class="form-group row">
        <!--Text input-->
        <div class="form-group col-md-10">
            <h3><label for="answerForm">Your answer</label></h3>
            <textarea type="text" class="form-control col-md-12" id="answerForm"
                      placeholder="Put your answer here." required></textarea>
            <p>

            <!--Answer button-->
            <button class="btn btn-outline-dark" type="submit">Ask</button>
        </div>
    </div>
</form>