{% load static %}

<!--Answer example-->
<div class="container p-1 border border-dark">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column col-md-2">
            <img src="{% static "img/default_avatar.jpg" %}" width="50" height="50" class="rounded" alt="">
            <p>
            <div class="flex-row">
                <div class="btn-group-vertical col-md-5">
                    <button type="button" class="btn btn-outline-dark">+</button>
                    <button type="button" class="btn btn-outline-dark">-</button>
                </div>
                <div class="d-inline">{{ answer.rating }}</div>
            </div>
        </div>

        <div class="d-flex flex-column align-items-start col-md-10 ">
            <blockquote class="mb-auto">
                {{ answer.content }}
            </blockquote>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="correctAnswer">
                <label class="form-check-label" for="correctAnswer">
                    This is correct answer!
                </label>
            </div>
        </div>
    </div>
</div>
