<!-- Best members-->
<div class="container">
    <h3>Best members</h3>
    <div class="d-flex  flex-column align-items-start">
        {% for user in best_users %}
            <a href="#">{{ user.username }}</a>
        {% endfor %}
    </div>
</div>
