{% load static %}

<!-- Header -->
<nav class="header navbar text-white col-md-12 justify-content-between">
    <!--Logo-->
    <div class="col-md-3">
        <a href="{% url 'index' %}" class="navbar-brand text-white">
            <h2>
                <img src="{% static "/img/logo.svg" %}" width="40" height="40" class="d-inline-block align-top" alt="">
                AskPumpkin
            </h2>
        </a>
    </div>

    <div class="row col-md-2 justify-content-between">
        <a href="{% url 'best' %}" class="d-inline btn btn-success col-md-5">Best</a>
        <a href="{% url 'new' %}" class="d-inline btn btn-success col-md-5">New</a>
    </div>

    <!--Search bar-->
    <div class="row col-md-4 justify-content-between">
        <input class="d-inline form-control col-md-9" type="search" placeholder="Search" aria-label="Search">
        <a href="{% url 'ask' %}" class="d-inline btn btn-success col-md-2">Ask!</a>
    </div>

    <!--Short account corner info-->
    <div class="row col-md-3">
        <a href="#" class="d-inline col-md-3">
            <img src="{% static "/img/default_avatar.jpg" %}" width="50" height="50" class="d-inline rounded" alt="">
        </a>
        <div class="d-inline col-md-9">
            <div class="row">
                <div class="account-name col-md-auto">Dr. Reaper</div>
            </div>
            <div class="row">
                <a href="{% url 'settings' %}" class="col-5 btn btn-success text-white mr-2">settings</a>
                <a href="{% url 'login' %}" class="col-5 btn btn-success text-white">log out</a>
            </div>
        </div>
    </div>
</nav>
