{#Pagination#}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {#Link to the previous page#}
        {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page.previous_page_number }}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {#Link to the first page#}
        {% if 1 not in page_range %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ request.path }}?page={{ 1 }}">{{ 1 }}</a>
            </li>
            {% if page.previous_page_number != 1 %}
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
            {% endif %}
        {% endif %}

        {#Link to nearest pages#}
        {% for page_num in page_range %}
            <li class="page-item {% if page_num == page.number %}active{% endif %}">
                <a class="page-link" href="{{ request.path }}?page={{ page_num }}">{{ page_num }}</a>
            </li>
        {% endfor %}

        {#Link to the last page#}
        {% if page.paginator.num_pages not in page_range %}
            {% if page.next_page_number != page.paginator.num_pages %}
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ request.path }}?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
            </li>
        {% endif %}

        {#Link to the next page#}
        {% if page.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"
                   aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>
