<!-- Popular tags-->
<div class="container">
    <h3>Popular tags</h3>

    <div class="tag-container">
        {% for tag in popular_tags %}
            <a href="{% url 'tag' tag.name %}" class="badge badge-pill bg-dark text-white">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>
