<!--Login form-->
<form>
    <!--Login input-->
    <div class="form-group row">
        <label for="inputLogin" class="col-md-2">Login</label>
        <input type="text" class="form-control col-md-6" id="inputLogin" aria-describedby="Your Login"
               placeholder="Enter Login" required>
    </div>

    <!--Email input-->
    <div class="form-group row">
        <label for="inputEmail" class="col-md-2">Email</label>
        <input type="email" class="form-control col-md-6" id="inputEmail" aria-describedby="Your Email"
               placeholder="Enter email" required>
    </div>

    <!--Nickname input-->
    <div class="form-group row">
        <label for="inputNickname" class="col-md-2">Nickname</label>
        <input type="text" class="form-control col-md-6" id="inputNickname" aria-describedby="Your Nickname"
               placeholder="Enter Nickname" required>
    </div>

    <!--Password input-->
    <div class="form-group row">
        <label for="inputPassword" class="col-md-2">Password</label>
        <input type="password" class="form-control col-md-6" id="inputPassword"
               placeholder="Password" required>
    </div>

    <!--Repeat password input-->
    <div class="form-group row">
        <label for="inputRepeatPassword" class="col-md-2">Repeat password</label>
        <input type="password" class="form-control col-md-6" id="inputRepeatPassword"
               placeholder="Repeat password" required>
    </div>

    <!--Avatar input-->
    <div class="form-group row">
        <label for="uploadAvatar" class="col-md-2 col-form-label">Upload Avatar</label>

        <div class="custom-file col-sm-6">
            <input type="file" class="custom-file-input" id="uploadAvatar" required>
            <label class="custom-file-label" for="uploadAvatar">Choose file...</label>
            <div class="invalid-feedback">Invalid custom file feedback</div>
        </div>
    </div>

    <!--Register button-->
    <div class="form-group row">
        <div class="col-md-2"></div>
        <button class="btn btn-outline-dark" type="submit">Register</button>
    </div>
</form>
