{% load static %}

<!--Login form-->
<form>
    <!--Login input-->
    <div class="form-group row">
        <label for="inputLogin" class="col-md-2">Login</label>
        <input type="text" class="form-control col-md-6" id="inputLogin" aria-describedby="Your Login"
               placeholder="Enter Login" required>
    </div>

    <!--Email input-->
    <div class="form-group row">
        <label for="inputEmail" class="col-md-2">Email</label>
        <input type="email" class="form-control col-md-6" id="inputEmail" aria-describedby="Your Email"
               placeholder="Enter email" required>
    </div>

    <!--Nickname input-->
    <div class="form-group row">
        <label for="inputNickname" class="col-md-2">Nickname</label>
        <input type="text" class="form-control col-md-6" id="inputNickname" aria-describedby="Your Nickname"
               placeholder="Enter Nickname" required>
    </div>

    <!--Avatar input-->
    <div class="form-group">
        <!--Avatar-->
        <div class="form-group row">
            <label for="uploadAvatar" class="col-md-2 col-form-label">Upload Avatar</label>
            <img src="{% static "img/default_avatar.jpg" %}" width="100" height="100" class="rounded" alt="">
        </div>

        <!--Avatar input-->
        <div class="form-group row">
            <label for="uploadAvatar" class="col-md-2 col-form-label"></label>

            {# TODO(al): fixe choose file #}
            <div class="custom-file col-sm-6">
                <input type="file" class="custom-file-input" id="uploadAvatar" required>
                <label class="custom-file-label" for="uploadAvatar">Choose file...</label>
                <div class="invalid-feedback">Invalid custom file feedback</div>
            </div>
        </div>
    </div>

    <!--Save button-->
    <div class="form-group row">
        <div class="col-md-2"></div>
        <button class="btn btn-outline-dark" type="submit">Save</button>
    </div>
</form>
